// Kiểu dáng cho card
.card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 0.25rem;
    box-shadow: 0 0 0.125rem rgba(0, 0, 0, 0.075);
    overflow: hidden;
  
    .card-header {
      background-color: $light-color;
      font-weight: bold;
      padding: 0.75rem;
    }
  
    .card-body {
      padding: 1rem;
    }
  }
  