// Mixins cơ bản
@mixin border-radius($radius: 0.25rem) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    border-radius: $radius;
  }
  
  @mixin transition($property, $time: 0.3s) {
    transition: $property $time;
  }
  