@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root{
  --white:   #fff;
  --pink:    #d63384;
  --red:     #dc3545;
  --orange:  #ef652d;
  --orange-light: #eda550;
  --yellow:  #ffc107;
  --green:   #80b918;
  --teal:    #20c997;
  --cyan:    #0dcaf0;
  --blue-light: #1f80c6;
  --blue:    #306bb0;
  --indigo:  #6610f2;
  --purple:  #6f42c1;
  --black:   #000;   /* Hồng nhạt */
  transition: all 1s;
}
:root[theme="light"]{
  background: var(--white);
  color: var(--gray-900);
  --primary: #306bb0; 
  --secondary: #ef652d; /* Cam dịu */
  --color-0: #fff;
  --color-100: #f8f9fa;
  --color-200: #e9ecef;
  --color-300: #dee2e6;
  --color-400: #ced4da;
  --color-500: #adb5bd;
  --color-600: #6c757d;
  --color-700: #495057;
  --color-800: #343a40;
  --color-900: #212529;
}
:root[theme="dark"]{
  background: #212529;
  color: #f8f9fa;
  --primary: #495057; 
  --secondary: #adb5bd; 
  --color-0: #212529;
  --color-100: #343a40;
  --color-200: #495057;
  --color-300: #6c757d;
  --color-400: #adb5bd;
  --color-500: #ced4da;
  --color-600: #dee2e6;
  --color-700: #e9ecef;
  --color-800: #f8f9fa;
  --color-900: #fff;
}

:root[theme=spring] {
  background: #fefae0; /* Màu kem nhạt, tượng trưng cho sự ấm áp */
  color: #283618; /* Màu xanh lá đậm, đại diện cho sức sống */
  --primary: #80b918; /* Xanh lá cây tươi sáng */
  --secondary: #ffcb77; /* Cam dịu */
  --color-0: #f9fce5;
  --color-100: #eaf4d3;
  --color-200: #d5e3b5;
  --color-300: #b7c998;
  --color-400: #a3b884;
  --color-500: #889f6a;
  --color-600: #6e8650;
  --color-700: #536c3a;
  --color-800: #3b5225;
  --color-900: #283618;
}

:root[theme=summer] {
  background: #caf0f8; /* Xanh biển nhạt, tượng trưng cho bầu trời mùa hè */
  color: #03045e; /* Xanh đậm, thể hiện sự năng động */
  --primary: #00b4d8; /* Xanh biển sáng */
  --secondary: #ffbe0b; /* Vàng rực rỡ, như ánh nắng */
  --color-0: #eafafc;
  --color-100: #d3f2f8;
  --color-200: #b2e6f1;
  --color-300: #88d8ea;
  --color-400: #56c8e0;
  --color-500: #3db1cb;
  --color-600: #3292ab;
  --color-700: #276e82;
  --color-800: #1b4959;
  --color-900: #03045e;
}

:root[theme=autumn] {
  background: #fff3e0; /* Cam kem nhạt, tạo cảm giác ấm áp */
  color: #6a3706; /* Nâu đất, đại diện cho lá rụng */
  --primary: #ff6f3c; /* Cam đỏ, sắc thái của lá thu */
  --secondary: #ffc300; /* Vàng sậm, như lá khô */
  --orange-0: #fff7ed;
  --color-100: #ffe8d2;
  --color-200: #ffddb9;
  --color-300: #ffcb9a;
  --color-400: #ffa36c;
  --color-500: #ff8652;
  --color-600: #e36435;
  --color-700: #bf4719;
  --color-800: #9a3b0e;
  --color-900: #6a3706;
}

:root[theme=winter] {
  background: #e0f7fa; /* Xanh nhạt, cảm giác lạnh và tươi mát */
  color: #004d40; /* Xanh rêu đậm, mang lại sự tĩnh lặng */
  --primary: #0097a7; /* Xanh biển lạnh */
  --secondary: #80deea; /* Xanh nhạt mờ, như sương tuyết */
  --color-0: #f0fafd;
  --color-100: #e0f7fa;
  --color-200: #b3ebf2;
  --color-300: #80deea;
  --color-400: #4dd0e1;
  --color-500: #26c6da;
  --color-600: #00acc1;
  --color-700: #00838f;
  --color-800: #005662;
  --color-900: #004d40;
}



@font-face {
    font-family: 'Material Symbols';
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/Material-symbols.woff2') format('woff2');
}
.material-symbols-outlined {
    font-family: 'Material Symbols';
    font-weight: normal;
    font-style: normal;
    font-size: 1.3em;
    line-height: 1.5rem;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
}
.material-symbols-outlined.fill{
    font-variation-settings:
    'FILL' 1,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24
}

/* Reset CSS */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
    font-size: 14px;
    line-height: 1.5rem;
}
body{
    font-family: 'Roboto', sans-serif;
    color:var(--color-800);
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

button, input, select, textarea {
  font: inherit;
  color: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

ul, ol {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}
