// Các quy tắc cho kiểu chữ
h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
  }
  
  p {
    line-height: 1.5;
    margin-bottom: 1rem;
  }
  
  a {
    color: $primary-color;
    text-decoration: none;
  
    &:hover {
      color: darken($primary-color, 15%);
    }
  }
  