<!DOCTYPE html>
<html lang="en" theme="light">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/custom.css">
    <link rel="stylesheet" href="../css/main.css">
</head>

<body>
    <!-- copy here -->
    <div class="ts247-card">
        <p class="d-flex align-items-center gap-2">
            <span class="material-symbols-outlined">support</span>
            <span class="fw-bold">HỖ TRỢ - HƯỚNG DẪN</span>
        </p>
        <p class="description">
            Bạn có thể liên hệ với chúng tôi qua số điện thoại <a href="tel:024.7300.7989" class="fw-bold">024.7300.7989</a> hoặc hotline miễn phí <a href="tel:024.7300.7989" class="fw-bold">1800.6947</a> (hoạt động từ 7h đến 22h hằng ngày). <br> Ngoài ra, mọi thắc mắc cũng có thể gửi về email: <span href="#" class="fw-bold">lienhe@tuyensinh247.com</span>.
        </p>
        <div class="d-flex align-items-center justify-content-between gap-1 actions">
            <div class="pref">
                <a href="#">Đăng nhập</a>
                <a href="#">Đăng ký</a>
            </div>
            <button class="ts247-btn">
                Nạp tiền vào tài khoản
            </button>
        </div>
    </div>
    <!-- copy here -->
</body>

</html>