<link rel="stylesheet" href="../css/custom.css">
<link rel="stylesheet" href="../css/main.css">

<!DOCTYPE html>
<html lang="en" theme="light">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- copy here -->
    <div class="logo-search-cart p-1">
        <div class="container">
            <div class="row">
                <div class="col-3">
                    <img class="logo-search-cart__logo__pc d-none d-sm-none d-md-block"
                        src="../images/logo-pc.png" alt="">
                    <img class="logo-search-cart__logo__mobile d-sm-block d-md-none"
                        src="../images/logo-mobile.webp" alt="">
                </div>
                <div class="col-6 d-flex align-items-center justify-content-center">
                    <input placeholder="Tìm khóa học, giáo viên, id lời giải câu hỏi bạn quan tâm" type="text"
                        style="width:100%">
                </div>
                <div class="col-3 d-flex align-items-center justify-content-end">
                    <button class="ts247-btn-primary d-flex gap-1 align-items-center"><span
                            class="material-symbols-outlined">shopping_cart</span> Giỏ hàng của tôi</button>
                </div>
            </div>
        </div>
    </div>
    <!-- copy here -->
</body>
</html>

