<!DOCTYPE html>
<html lang="en" theme="light">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/custom.css">
    <link rel="stylesheet" href="../css/main.css">
</head>
<body>
    <div class="notification py-lg-3 py-lg-2">
        <div class="container">
            <div class="d-flex gap-1 align-items-center">
                <span class="material-symbols-outlined fill">notifications</span>
                <ul class="notification__news">
                    <li><a href="javascript:void(0)">2K7! Luyện thi Đánh giá năng lực, Đánh giá tư duy 2025 (Lộ
                            trình SUN 2025) | Tuyensinh247.com</a></li>
                </ul>
            </div>
        </div>
    </div>
</body>
</html>