<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/custom.css">
    <link rel="stylesheet" href="../css/main.css">
</head>

<body>
    <div class="container">
        <div class="search-box">
            <a class="search__input" href="javascript:void:0">
                <span class="material-symbols-outlined">search</span>
                <input type="text" >
            </a>
            <div class="search__result">
                <div class="search__teacher">
                    <p>Thông tin giáo viên</p>
                    <ul>
                        <li>Thầy Phạm Quốc Toản</li>
                        <li>Cô Hoàng Thị Xuân</li>
                        <li>Cô Đặng Giang</li>
                    </ul>
                </div>
                <div class="search__course">
                    <p>Thông tin giáo viên</p>
                    <ul>
                        <li>
                            <img src="https://images.tuyensinh247.com/picture/2024/0105/600-imggv-1.png" alt="">
                            <div>
                                <p>[S1] - Cô Bích Liên - Toán 1 - Năm 2025</p>
                                <span>trong Môn Toán lớp 1 năm 2025</span>
                            </div>
                        </li>
                        <li>
                            <img src="https://images.tuyensinh247.com/picture/2024/0105/600-imggv-1.png" alt="">
                            <div>
                                <p>[S1] - Cô Bích Liên - Toán 1 - Năm 2025</p>
                                <span>trong Môn Toán lớp 1 năm 2025</span>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</body>

</html>