<!DOCTYPE html>
<html lang="en" theme="light">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/custom.css">
    <link rel="stylesheet" href="../css/main.css">
</head>

<body>
    <div class="container">
        <div class="search-box">
            <div class="d-flex gap-2 p-2 align-items-center search-input">
                <span class="material-symbols-outlined search-icon">search</span>
                <input type="text" placeholder="Tìm khóa học, giáo viên, ID lời giải câu hỏi bạn quan tâm">
            </div>
            <div class="d-flex flex-column result">
                <div class="p-a gap-3 d-flex flex-column wrap-scroll">
                    <div class="d-flex gap-2 px-3 pt-3 flex-column teachers">
                        <div class="result-title fw-bold">Thông tin giáo viên</div>
                        <p class="d-flex gap-2 align-items-center"><span class="material-symbols-outlined">person</span>Thầy Nguyễn Văn Toản</p>
                        <p class="d-flex gap-2 align-items-center"><span class="material-symbols-outlined">person</span>Thầy Nguyễn Văn Toản</p>
                        <p class="d-flex gap-2 align-items-center"><span class="material-symbols-outlined">person</span>Thầy Nguyễn Văn Toản</p>
                    </div>
                    <div class="d-flex gap-2 flex-column">
                        <p class="fw-bold ps-3">Thông tin khóa học</p>
                        <div class="d-flex gap-2 px-3 py-2 course">
                            <img src="https://images.tuyensinh247.com/picture/2022/0622/600-imggv_7.png" alt="" class="course-avatar">
                            <div class="course-info">
                                <p>[S2] - Cô Hoàng Xuân - Luyện Thi TN THPT & ĐH & ĐGNL Môn Tiếng Anh - Năm 2025</p>
                                <span>trong Môn Tiếng Anh lớp 12 năm 2025</span>
                            </div>
                        </div>
                        <div class="d-flex gap-2 px-3 py-2 course">
                            <img src="https://images.tuyensinh247.com/picture/2022/0622/600-imggv_7.png" alt="" class="course-avatar">
                            <div class="course-info">
                                <p>[S2] - Cô Hoàng Xuân - Luyện Thi TN THPT & ĐH & ĐGNL Môn Tiếng Anh - Năm 2025</p>
                                <span>trong Môn Tiếng Anh lớp 12 năm 2025</span>
                            </div>
                        </div>
                        <div class="d-flex gap-2 px-3 py-2 course">
                            <img src="https://images.tuyensinh247.com/picture/2022/0622/600-imggv_7.png" alt="" class="course-avatar">
                            <div class="course-info">
                                <p>[S2] - Cô Hoàng Xuân - Luyện Thi TN THPT & ĐH & ĐGNL Môn Tiếng Anh - Năm 2025</p>
                                <span>trong Môn Tiếng Anh lớp 12 năm 2025</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="d-flex gap-2 px-3 py-2 flex-column gap-2 history">
                    <div class="result-title fw-bold">Lịch sử tìm kiếm</div>
                    <p class="d-flex align-center gap-2">
                        <span class="material-symbols-outlined">history</span>Thầy Nguyễn công nguyên
                    </p>
                    <p class="d-flex align-center gap-2">
                        <span class="material-symbols-outlined">history</span>Cô Nguyễn Loan
                    </p>
                    <p class="d-flex align-center gap-2">
                        <span class="material-symbols-outlined">history</span>Thầy Trần Tùng
                    </p>
                </div>
            </div>
        </div>
    </div>
</body>

</html>